.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    .detail-box {
        position: relative;
        width: 60%;
        @media screen and(max-width: 700px) {
            width: 90%;
          }      
        
        .detail-title {
            margin-top: 30px;
            text-align: center;
            position: relative;
            .backBtn {
                position: absolute;
                left: 0;
                top: 5px;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background-color: #ffa629;
                transition: .2s;
                &::before {
                    content: '回上一層';
                    white-space: nowrap;
                    position: absolute;
                    top: 6px;
                    right: -65px;
                    color: #828282;
                    pointer-events: none;
                    opacity: 0;
                    transition: .2s;
                }
                &:hover {
                    background-color: #ea9823;
                    &::before {
                        opacity: 1;
                    }
                }
                .backBtnIcon {
                    position: absolute;
                    top: 50%;
                    left: 55%;
                    transform: translate(-50%,-50%) rotate(-45deg);
                    width: 12px;
                    height: 12px;
                    border-top: 3px solid #fff;
                    border-left: 3px solid #fff;
                }
            }
            h1 {
                font-size: 30px;
                color: #ffa629;
                margin-bottom: 10px;
                span {
                    color: #000;
                    margin-right: 10px;
                }
            }
            p {
                color: #585858;
                line-height: 28px;
            }
            a {
                color: #2aaaff;
            }
        }
        .content {
            margin: 30px 0 10px 0;
            position: relative;
            transition: .2s;
            animation: content1 .3s ease-in;
            &:hover {
                .bigIcon {
                    background-color: rgba(0,0,0,0.3);
                }
            }
            .bigIcon {
                position: absolute;
                top: 10px;
                right: 2%;
                width: 40px;
                height: 40px;
                background-color: rgba(0,0,0,0.1);
                border-radius: 50%;
                background-image: url(../../assets/images/bigIcon.png);
                background-repeat: no-repeat;
                background-size: 70%;
                background-position: center;
                transition: .2s;
                cursor: pointer;
                @media screen and(max-width: 700px) {
                    top: 10px;
                    width: 30px;
                    height: 30px;
                  }          
            }
            img {
                width: 100%;
            }
        }
        .nextBtnBox {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            .btn {
                position: relative;
                margin: 0 10px;
                color: #b1b1b1;
                transition: .2s;
                &:hover {
                    color: #333;
                }
                &::before {
                    content: "<";
                    position: absolute;
                    top: 0;
                    left: -15px;
                }
            }
            .btn2 {
                position: relative;
                margin: 0 10px;
                color: #b1b1b1;
                transition: .2s;
                &:hover {
                    color: #333;
                }
                &::before {
                    content: ">";
                    position: absolute;
                    top: 0;
                    right: -15px;
                }
            }
        }
    }
}
.contentBig {
    display: none;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    padding: 5% 30px 30px 30px;
    box-sizing: border-box;
    height: 100vh;
    z-index: 99;
    background-color: rgba(0,0,0,0.9);
    overflow-x: auto;
    @media screen and(max-width: 700px) {
        padding: 15px;
        align-items: center;
      }     
    &.active {
        display: flex;
    }
    .closeBtn {
        position: absolute;
        right: 2%;
        top: 3%;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 50px;
        background-color: rgba(255, 255, 255, 0.3);
        background-image: url(../../assets/images/closeIcon.png);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
        border-radius: 50%;
        color: #fff;
        transition: .2s;
        cursor: pointer;
        @media screen and(max-width: 700px) {
            width: 40px;
            height: 40px;
            line-height: 40px;
        }   
        &:hover {
            opacity: .7;
        }
    }
    img {
        width: 100%;
        max-width: 1500px;
    }
}

@keyframes content1 {
    0%{opacity: 0; transform: translateY(10%);}
    100%{opacity: 1; transform: translateX(0%);}
}