.solveimg {
    opacity: 0;
    &.active {
        animation: _appear .3s forwards linear alternate;
    }
}

@keyframes _appear {
    0% {
      opacity:0;
      transform: translateY(-30px);
    }
    100% {
      opacity:1;
      transform: translateY(0);
    }
  }