.aboutPage {
    margin: 0 auto;

    .aboutArea {
        display: flex;
        padding: 30px 8%;
        @media screen and(max-width:850px) {
            flex-direction: column;
        }
        .myImg {
            width: 20%;
            @media screen and(max-width:850px) {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
            }
            .myPhoto {
                width: 120px;
                border-radius: 50%;
            }

            h2 {
                margin-top: 2%;
                font-size: 20px;
            }

            p {
                font-weight: 300;
                font-size: 12px;
                color: #929799;
            }
        }

        .textAbout {
            width: 60%;
            line-height: 24px;
            @media screen and(max-width:850px) {
                width: 100%;
            }
        }
    }

    //工作經驗
    .experienceArea {
        width: 100%;
        display: flex;
        padding: 30px 8%;
        box-sizing: border-box;
        background: linear-gradient(to right, #ff7d4d 0%, #a642ff 100%);
        @media screen and(max-width:850px) {
            flex-direction: column;
        }
        .experienceBox {       
            width: 80%;
            @media screen and(max-width:850px) {
                width: 100%;
            }
            color: #fff;
            .box {
                display: flex;
                width: 100%;
                padding: 15px 0px;
                border-bottom: 1px solid #ffffff75;
                @media screen and(max-width:850px) {
                    display: block;
                }
                .boxRight {
                display: flex;
                width: 25%;
                @media screen and(max-width:850px) {
                    display: block;
                    width: 100%;
                }
                .expText {
                    width: 35%;
                    @media screen and(max-width:850px) {
                        width: 25%;
                    }
                    p {
                        font-size: 14px;
                        font-weight: unset;
                        line-height: 25px;
                    }
                }

                .jobText {
                    margin-left: 15px;
                    line-height: 25px;
                    @media screen and(max-width:850px) {
                        display: flex;
                    }
                    p {
                        font-size: 14px;
                        font-weight: 300;
                    }
                    .jobTextIn {
                        @media screen and(max-width:850px) {
                            margin-left: 10px;
                        } 
                    }
                }
            }
            .boxLeft {
                line-height: 25px;
                h3 {
                    font-size: 14px;
                    font-weight: unset;
                }
                p {
                    font-size: 14px;
                    font-weight: 300;
                    @media screen and(max-width:850px) {
                        padding-left: 15px;
                    }
                }
            }
            }
            
        }
    }

    // 技能
    .skillsArea {
        width: 100%;
        display: flex;
        padding: 30px 8%;
        box-sizing: border-box;
        @media screen and(max-width:850px) {
            flex-direction: column;
        }
        .skillsImg {
            width: 80%;
            display: flex;
            @media screen and(max-width:850px) {
                width: 100%;
                justify-content: space-between;
                margin-top: 20px;
            }

            .icon {
                background: url(../../assets/images/skills.png) no-repeat;
                background-size: 500%;
                width: 50px;
                height: 50px;
                margin-right: 2%;
                &:nth-child(2) {
                    background-position-x: 25%;
                }
                &:nth-child(3) {
                    background-position-x: 50.5%;
                }
                &:nth-child(4) {
                    background-position-x: 75%;
                }
                &:nth-child(5) {
                    background-position-x: 100%;
                }
            }
        }
    } 
}

:global(.title) {
    width: 20%;
    @media screen and(max-width:850px) {
        width: 100%;
    }
}

:global(.line) {
    display: inline-block;
    background-color: #000;
    width: 40px;
    height: 1px;
    vertical-align: middle;
}

:global(.titleText) {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    color: #373d40;
    font-weight: bold;
    margin-left: 10px;
}